#{extends "main_list.html"/}
#{set title:"查看"/}
<div class="form">
<div class="field" style="width: 49%;">
#{field "project.user"}
<label for="${field.id}">客户ID</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 ${field.errorClass}"/>
<span class="error">${field.error}</span>
#{/field}
</div>
<div class="field" style="width: 49%;">
#{field "project.name"}
<label for="${field.id}">项目名</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 ${field.errorClass}"/>
<span class="error">${field.error}</span>
#{/field}
</div>
<div class="field" style="width: 49%;">
#{field "project.state"}
<label for="${field.id}">项目状态</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 ${field.errorClass}"/>
<span class="error">${field.error}</span>
#{/field}
</div>
<div class="field" style="width: 49%;">
#{field "project.number"}
<label for="${field.id}">项目编号</label>
<input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="txt01 ${field.errorClass}"/>
<span class="error">${field.error}</span>
#{/field}
</div>
<p class="buttons">
<input type="button" name="_close" value="&{'option.close'}" class="btn01 option_close"/>
</p>
</div>
