#{extends "css.html"/}
<div class="row-fluid">
					<div class="span12">
						<div class="box">
							<div class="box-title">
								<h3>
									<i class="icon-table"></i>
									&{'roleControl.title'}
								</h3>
							</div>
							<div class="box-content nopadding">
								<table class="table table-hover table-nomargin table-bordered ">
									<thead>
										<tr>
											<th>&{'roleControl.name'}</th>
											<th>&{'roleControl.menu'}</th>
											<th>&{'roleControl.controller'}</th>
											<th>&{'roleControl.action'}</th>
											<th>&{'roleControl.value'}</th>
											<th class="hidden-350">&{'option'}</th>
										</tr>
									</thead>
									<tbody>
									#{list pagedList.list,as:'row'}
									<tr>
											<td>${row.name}</td>
											<td>${row.menu}</td>
											<td>${row.controller}</td>
											<td>${row.action}</td>
											<td>${row.value}</td>
											<td class="hidden-350"><a href="/RoleControls/show?id=${row.id}">&{'option.edit'}</a></td>
										</tr>
									#{/list}
									</tbody>
								</table>
								#{pagesize pagedList/}
							</div>
						</div>
					</div>
				</div>
<script>
$(".btn.btn-primary.btn-small.add").click(function(){
	location.href=$(this).attr("url");
});
</script>